html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-upload.ant-upload-drag .ant-upload {
  padding: 16px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.avatar-uploader {
  text-align: center;
}

.ant-scrolling-effect  #root>.ant-layout {
  filter: blur(10px) brightness(0.5);
}

.ant-modal-content {
  border-radius: 16px;
}
